@page "/board/{BoardName}"
@using Microsoft.AspNetCore.Components.Web
@using Kanban.Components.CardList
@using Kanban.Pages.Board.Model
@using Kanban.Services.AddCard
@using Kanban.Services.AddCardList
@using Kanban.Services.GetBoard
@using Kanban.Services.MoveCard
@using CardList = Kanban.Components.CardList.CardList

@inject AddCardService addCard
@inject MoveCardService moveCard
@inject AddCardListService addCardList
@inject GetBoardService getBoard

@attribute [Authorize]

<div class="d-flex gap-4">

    @if (board != null)
    {
        foreach (var list in board.CardLists)
        {
            <CardList Model=@list
                      AddCard=@(async cardTitle => await addCard.AddCard(board.Title, new AddCardRequest(list.Title, cardTitle)))
                      MoveCard=@(async args => { //TODO: handle edge case
                                                   Model.CardList to; 
                                                   var from = board.CardLists.First(c => c.Cards.Contains(args.card)); 
                                                   if (args.direction == Direction.Right) { var index = board.CardLists.IndexOf(from); 
                                                       to = board.CardLists[index + 1]; } 
                                                   else { var index = board.CardLists.IndexOf(from); 
                                                           to = board.CardLists[index - 1]; 
                                                       } 
                                                   await moveCard.MoveCard(board, args.card, from, to); })/>
        }
        <CardListInputContainer AddCardList=@(cardListTitle => addCardList.AddCardList(new AddCardListRequest(board.Title, cardListTitle)))/>
    }
</div>

@code {

    [Parameter]
    public string BoardName { get; set; }

    private Model.Board? board;

    protected override async Task OnInitializedAsync()
    {
        board = await getBoard.GetBoard(BoardName);
    }

}