@using MudBlazor

<MudPaper Class="card">
    @Model?.Title
    <div class="d-flex flex-end">
        <MudIconButton Class="p-0" Icon="@Icons.Outlined.ArrowLeft" />
        <MudIconButton Class="p-0" Icon="@Icons.Outlined.ArrowRight" />
    </div>
</MudPaper>

<style>
    .card {
        padding: 10px;
        margin: 5px;
    }
    .flex-end {
        justify-content: flex-end;
    }
</style>

@code {
    [Parameter]
    public Pages.Board.Model.Card? Model { get; set; }
}
