@using MudBlazor
@using Kanban.Components.Card

<MudPaper>
    <div class="ml-1">
        <Title Text="@Model.Title"></Title>
    </div>
    @foreach (var card in Model.Cards)
    {
        <Card Model=card MoveCard="MoveCard"></Card>
    }
    <InputContainer OnClick="AddCard"></InputContainer>
</MudPaper>

@code {
    [Parameter]
    public Pages.Board.Model.CardList Model { get; set; }
    [Parameter] public EventCallback<string> AddCard { get; set; }
    [Parameter] public EventCallback<MoveCardArgs> MoveCard { get; set; }
}
