@page "/boards"

@using Kanban.Components.Board
@using Kanban.Services.CreateBoard
@using Kanban.Services.GetAllBoards

@inject CreateBoardService createBoard
@inject GetAllBoardsService getAllBoards

@attribute [Authorize]

@if (boards == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="d-flex gap-4">
        @foreach (var b in boards)
        {
            <MudBlazor.MudLink Href="@($"/board/{b.title}")">
                <BoardCard Title=@b.title></BoardCard>
            </MudBlazor.MudLink>
        }
        <BoardInputContainer OnClick=@(title => createBoard.SaveBoard(new CreateBoardRequest(title)))></BoardInputContainer>
    </div>
}

@code {
    private Board[]? boards;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Boards initialized!");
        boards = await getAllBoards.GetAllBoards();
    }
}